<!DOCTYPE HTML>
<!-- set ng-app to app name -->
<html ng-app="peopleApp">
    <head>
        <title>People App</title>
        <!-- link angular -->
        <script src="angular.min.js"></script>
        <script src="People.js"></script>
    </head>
    <body>
    <!-- for ng-controller, the "as" part sets up a name that we can call the controller's "vm" -->
        <div ng-controller="PageController as pageCtrl">
            <h1>{{pageCtrl.classList}}</h1>
            <span>Enter your jobs:</span>
            <input type="text" ng-model="jobs">

                <h1>{{ jobs }}</h1>
            <ul>
                <!--  -->
                <li ng-repeat="newPerson in pageCtrl.newPerson">
                    {{newPerson.name}} is a {{newPerson.occupation}}
                </li>
            </ul>
        </div>
    </body>
</html>
